{% extends 'base.html.twig' %}

{% block title %}Buscador Pokemon{% endblock %}

{% block body %}

    <br><br>

    <div class="ui segment container">
        <div class="ui form">
            <h4>Pokemon searcher</h4>
            <p>Here you can look in the pokemon API for your favorite pokemon!</p>

            <div class="two fields">
                <div class="field">
                    <input type="text" id="pokemon_name" />
                </div>
                <div class="field">
                    <button id="search_pokemon_button" class="ui secondary button">Search!</button>
                </div>
            </div>
            <br><br>
        </div>

        <!-- Results -->
        <div id="pokemon_info" class="ui container">
            <h1>{{pokemon.name}}</h1>
            <p>
                {{pokemon.description}}
            </p>
        </div>
    </div>

    <script src="{{ asset('js/pokemon_script.js') }}"></script>
{% endblock %}
