{% extends 'base.html.twig' %}

{% block title %}Session test{% endblock %}

{% block body %}

<div class="ui container">

    <!-- warning message -->
    {% if app.request.hasPreviousSession %}
        {% for message in app.flashes('feedback_message') %}
            <div class="ui segment">
                <div class="ui top attached label yellow">Message</div>
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}

    <!-- form -->
    <div class="ui two column grid">
        
        <div class="ui column">
            <div class="ui segment">
                <div class="ui top attached label">Login form  (adminmaster@email.com:thisIsAPassword)</div>
                {{ form_start(login_form, {'action': path('session_check_login')}) }}
                {{ form(login_form) }}
            </div>
        </div>

        <div class="ui column">
            <div class="ui segment">
                {% if app.request.hasPreviousSession %}
                    {% if app.session.get("session_time") != NULL %}
                        <div class="ui top attached label">Session info</div>
                        <p>Session started at: {{ app.session.get("session_time") }}</p>
                        <a href="/session_logout" class="button ui red">log out</a>
                    {% else %}
                        <div class="ui top attached label">Content only available for logged users!</div>
                        <p>you must be logged in order to see this content</p>
                    {% endif %}
                {% else %}
                    <div class="ui top attached label">Content only available for logged users!</div>
                    <p>you must be logged in order to see this content</p>
                {% endif %}
            </div>
        </div>

    </div>
</div>

{% endblock %}
